<div class="row">
    <div class="col-md-5 mb-4">
        <div class="card">
            <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Statements</span>
                </p>
                <table class="table table-sm" style="font-size: 0.8rem;">
                    <thead class="thead">
                        <tr>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Price</th>
                            <th scope="col">Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for each in statements %}
                        <tr class="{{each.status}}" onclick="window.location='/statement/{{each.id}}';"
                            style="cursor:pointer;">
                            <td>{{each.from}}</td>
                            <td>{{each.to}}</td>
                            <td>{{each.price}}rs</td>
                            <td>{{each.created_at}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if restock != None %}
    <div class="col-md-5 mb-4">
        <div class="card">
            <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Restock History</span>
                </p>
                <table class="table table-sm" style="font-size: 0.8rem;">
                    <thead class="thead">
                        <tr>
                            <th scope="col">From</th>
                            <th scope="col">Price</th>
                            <th scope="col">Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for each in restock %}
                        <tr class="{{each.status}}" onclick="window.location='/statement/{{each.id}}';"
                            style="cursor:pointer;">
                            <td>{{each.creator}}</td>
                            <td>{{each.price}}rs</td>
                            <td>{{each.created_at}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>